*{
  padding: 0;
  margin: 0;
}
.my-container{
  width: 100%;
  padding: 0 110px;
}
body{
  /* font-family: 'Bricolage Grotesque', sans-serif; */
/* font-family: 'Exo 2', sans-serif; */
font-family: 'Josefin Sans', sans-serif;
/* font-family: 'Poppins', sans-serif;
font-family: 'REM', sans-serif; */
}
.cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000%;
  background-color: rgba(0, 0, 0, 0.562);
  z-index: 1000;
  display: none;
}
.cover.toggle-cover{
  display: block;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  font-size: 21px;
}
.header .logo a{
  color: black;
  font-size: 45px;
  font-weight: 600;
  text-decoration: none;
}
.header .logo span{
  color: hsl(5, 100%, 69%);
  font-size: 45px;
}
.header .closer{
  display: none;
}
.header .links a
{
  text-decoration: none;
  color: black;
  padding: 10px 12px;
  transition: .3s;
  text-transform: capitalize;
  
}
.header .links a:hover,
.header .icons i:hover{
  color: hsl(5, 100%, 69%);

}
.header .icons i{
  padding: 10px 8px;
  transition: .3s;
  position: relative;
}
.header .icons i:nth-child(3)::after,
.header .icons i:nth-child(4)::after
{
  position: absolute;
  content: "3";
  font-size: 10px;
  right: 2px;
  top: 4px;
  padding: 4px;
  border-radius: 50%;
  background-color: hsl(5, 100%, 69%);
  color: white;
}
.header .icons i:nth-child(4)::after{
  content: "6";
}
.header .menu{
  position: fixed;
  right: 50px;
  top: 20px;
  font-size: 26px;
  color: white;
  background-color: hsl(5, 100%, 69%);
  padding: 10px;
  border-radius: 7px;
  display: none;
  z-index: 1001;

}


.header.toggle-header{
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  /* justify-content:space-between; */
  align-items:start ;
  background-color: white;
  padding: 0;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.352);
  transition: .3s;
  z-index: 1001;

}
.header.toggle-header .closer{
  display: inline-block;
  position: relative;
  top: -40px; 
  right: -215px;
  padding: 7px;
}
.header.toggle-header .logo{
  background-color: rgba(0, 255, 255, 0.241);
  padding: 30px 70px;
}
.header.toggle-header .links {
  display: flex;
  flex-direction: column;
}
.header.toggle-header .links a{
  border-bottom: 1px solid #EEE;
}

.header.toggle-header .links,
.header.toggle-header .icons{
  display: flex;
  padding: 0px 0 0 50px;
}
.header.toggle-header .icons{
  display: flex;
  margin-bottom: 100px;
}




.sec-1{
  padding-top: 5px ;
  /* position: relative; */
  background-image: url('./images/hero-banner.png');
  background-size: cover;
  height: 100vh;
  color: hsl(5, 100%, 69%);
}
.sec-1 .info{
  margin-top: 100px;
  /* width: 100%; */
  text-align: left;
}
.sec-1 .info h1{
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 50px;
}
.sec-1 .info h1 span{
  font-weight: 700;
}
.sec-1 .info p{
  width: 100%;
  margin-bottom: 40px;
}
.sec-1 .info button{
  padding: 7px 10px ;
  outline: none;
  border: none;
  background-color: rgb(222, 216, 216);
  color: black;
}
/*sec-2  */

.sec-2 .box{
  padding: 10px 11px;
  margin-bottom: 20px;
  /* overflow: hidden; */
  text-align: center;
  position: relative;
  /* border: 1px solid red */
}
 .sec-2 img{
  width: 100%;
  height: 300px;
}
.sec-2 .box h3{
position: absolute;
top: 40px;
font-size: 20px;
/* text-align: center; */
left: 50%;
transform: translateX(-50%);
}
.sec-2 .box button{
  position: absolute;
  bottom: 20px;
  left: 50%;
transform: translateX(-50%);
  z-index: 200;
  padding: 12px 15px;
  border: 1px solid black;
  background-color: transparent;
  transition: .3s;
  display: flex;
  align-items: center;
}
.sec-2 .box button:hover{
  background-color: rgba(0, 0, 0, 0.285);
}
/* sec-3 */
.sec-3 h2{
  text-align: center;
  font-weight: 600;
}
.sec-3 ul,
.sec-5 ul{
list-style: none;
display: flex;
justify-content: center;
margin: 30px auto;

}
.sec-3 ul li a,
.sec-5 ul li a{
text-decoration: none;
color: black;
margin: 0 5px;
padding: 8px 12px;
border-radius: 50px;
border: 1px solid rgba(0, 0, 0, 0.293);
}
.sec-3 ul li .selected{
  background-color: hsl(5, 100%, 69%);
  color: white;
}

.sec-3 .col-12{
padding: 0 15px;
}

.sec-3 .product{
  text-align: center;
  overflow: hidden;
}
.sec-3 .product img{
  transition: .3s;
}
.sec-3 .product:hover img{
  transform: scalex(1.2) ;
  
}
.sec-3 .product h4{
width: 100%;
}
.sec-3 .product p{
color: rgba(0, 0, 0, 0.645);
margin-bottom: 7px;
cursor: pointer;
}


.sec-3 .product h4{
font-size: 20px;
transition: .3s;
cursor: pointer;
}
.sec-3 .product h4:hover{
  color: red;
}
.sec-3 .product .price{
  color: red;
}

/* .sec-3 .new {
  position: relative;
}
.sec-3 .new::before{
  position: absolute;
  content: "NEW";
  top: 20px;
  left: 20px;
  background-color: hsl(5, 100%, 69%);
  color: white;
  padding: 5px 15px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  z-index: 100;
} */
/* @media only screen and (max-width: 769px) {
  .sec-3 .new::before{
    position: absolute;
  content: "NEW";
  top: 20px;
  left: 120px;
  background-color: hsl(5, 100%, 69%);
  color: white;
  padding: 5px 15px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  z-index: 100;
  }
} */
.sec-3 .product .options {
  position: relative;
}

.sec-3 .product .options ul{
  display: block;
  position: absolute;
  z-index: 100;
  right: -50px;
  top: -410px;
  transition: .3s;
  opacity: 0;
}
.sec-3 .product:hover .options ul{
  right: 10px;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .sec-3 .product .options ul{
    right: 20px;
  }
  .sec-3 .product:hover .options ul {
    right: 50px;
    opacity: 1;

  }
}
.sec-3 .product .options ul li i{
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 10px;
  transition: .3s;
}

.sec-3 .product .options ul li i:hover{
  background-color: hsl(5, 100%, 69%) ;
  color: white;
}
.sec-3 .product .options ul li{
  position: relative;
}
/* for cart i */
.sec-3 .product .options ul li:nth-child(1)::before{
  position: absolute;
  content: "Add to cart";
  left: -75px;
  top: 5px ;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 4px;
  font-size: 12px;
  border-radius: 8px;
  display: none;
}
.sec-3 .product .options ul li:nth-child(1):hover::before{
  display: block;
}

/* for heart i */
.sec-3 .product .options ul li:nth-child(2)::before{
  position: absolute;
  content: "Add to whishlist";
  left: -97px;
  top: 5px ;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 4px;
  font-size: 12px;
  border-radius: 8px;
  display: none;
}
.sec-3 .product .options ul li:nth-child(2):hover::before{
  display: block;
}

/* for eye i */
.sec-3 .product .options ul li:nth-child(3)::before{
  position: absolute;
  content: "Quick view";
  left: -75px;
  top: 5px ;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 4px;
  font-size: 12px;
  border-radius: 8px;
  display: none;
}
.sec-3 .product .options ul li:nth-child(3):hover::before{
  display: block;
}
/* for compare i */
.sec-3 .product .options ul li:nth-child(4)::before{
  position: absolute;
  content: "Compare";
  left: -67px;
  top: 5px ;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 4px;
  font-size: 13px;
  border-radius: 8px;
  display: none;
}
.sec-3 .product .options ul li:nth-child(4):hover::before{
  display: block;
}
/* sec 4 */
 
.sec-4 {
  color: white;
}
.sec-4 .prand-addidas{
  padding: 50px 40px;
  background-image: url('./images/cta-1.jpg');
  background-size:  cover;

}
.sec-4 .prand-nike{
  padding: 50px 40px;
  background-image: url('./images/cta-2.jpg');
  background-size:  cover;
}
.sec-4 p{
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
}
.sec-4 button,
.sec-5 .special button{
  display: inline-block;
  border: none;
  outline: none;
  padding-bottom: 7px;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid rgb(222, 212, 212);
  transition: .3s;
}
.sec-4 button:hover,
.sec-5 .special button:hover{
  border-bottom: none;
}
/* sec-5 */

.sec-5 .special{
  background-image: url('./images/special-banner.jpg');
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* height: 500px; */
  padding: 15px 20px 40px ;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}


.sec-5 .product{
  text-align: center;
  overflow: hidden;
}
.sec-5 .product img{
  transition: .3s;
}
.sec-5 .product:hover img{
  transform: scalex(1.2) ;
  
}
.sec-5 .product h4{
width: 100%;
}
.sec-5 .product p{
color: rgba(0, 0, 0, 0.645);
margin-bottom: 7px;
cursor: pointer;
}


.sec-5 .product h4{
font-size: 20px;
transition: .3s;
cursor: pointer;
}
.sec-5 .product h4:hover{
  color: red;
}
.sec-5 .product .price{
  color: red;
}

.sec-5 .product .options {
  position: relative;
}

.sec-5 .product .options ul{
  display: block;
  position: absolute;
  z-index: 100;
  right: -50px;
  top: -410px;
  transition: .3s;
  opacity: 0;
}
.sec-5 .product:hover .options ul{
  right: 10px;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .sec-5 .product .options ul{
    right: 30px;
  }
  .sec-5 .product:hover .options ul {
    right: 30px;
    opacity: 1;

  }
}
.sec-5 .product .options ul li i{
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 10px;
  transition: .3s;
}

.sec-5 .product .options ul li i:hover{
  background-color: hsl(5, 100%, 69%) ;
  color: white;
}
.sec-5 .product .options ul li{
  position: relative;
}
/* for cart i */
.sec-5 .product .options ul li:nth-child(1)::before{
  position: absolute;
  content: "Add to cart";
  left: -75px;
  top: 5px ;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 4px;
  font-size: 12px;
  border-radius: 8px;
  display: none;
}
.sec-5 .product .options ul li:nth-child(1):hover::before{
  display: block;
}
/* for heart i */
.sec-5 .product .options ul li:nth-child(2)::before{
  position: absolute;
  content: "Add to whishlist";
  left: -97px;
  top: 5px ;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 4px;
  font-size: 12px;
  border-radius: 8px;
  display: none;
}
.sec-5 .product .options ul li:nth-child(2):hover::before{
  display: block;
}

/* for eye i */
.sec-5 .product .options ul li:nth-child(3)::before{
  position: absolute;
  content: "Quick view";
  left: -75px;
  top: 5px ;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 4px;
  font-size: 12px;
  border-radius: 8px;
  display: none;
}
.sec-5 .product .options ul li:nth-child(3):hover::before{
  display: block;
}
/* for compare i */
.sec-5 .product .options ul li:nth-child(4)::before{
  position: absolute;
  content: "Compare";
  left: -67px;
  top: 5px ;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 4px;
  font-size: 13px;
  border-radius: 8px;
  display: none;
}
.sec-5 .product .options ul li:nth-child(4):hover::before{
  display: block;
}


.product-container {
  overflow-x: scroll;
  white-space: nowrap;
}

.sec-5 .product {
  display: inline-block;
  width: 300px; 
  margin-right: 20px; 
}

/*for scrollbar */
.product-container::-webkit-scrollbar-track {
  background-color: #DDD 
}
.product-container::-webkit-scrollbar {
  /* width: 8px;  */
  height: 10px;
}
.product-container::-webkit-scrollbar-thumb {
  background-color: hsl(5, 100%, 69%);
}
/* sec-6 */
.sec-6 .col-12 img{
  filter: brightness(0) invert(1)
}
.sec-6 .col-12 .icon{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: hsl(5, 100%, 69%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-6 .col-12{
  display: flex;
  align-items: center;
}
.sec-6 .info{
  margin: 20px 0 0 10px;
}
.sec-6 .info h5{
  font-weight: 700;
}
/* sec-7 */
.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.image-wrapper {
  display: flex;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.image-wrapper img {
  width: 200px;
  height: auto;
}
.image-wrapper .image{
  position: relative;
}
.image-wrapper .image::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.432);
  top: 0;
  left: 0;
  transition: .3s;
  opacity: 0;
}
.image-wrapper .image:hover::before{
  opacity: 1;
}
.image-wrapper .image i{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 45px;
  opacity: 0;
  transition: .3;
}
.image-wrapper .image:hover i{
  opacity: 1;
}

/* .image-wrapper img:hover{

} */

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.left-button {
  left: 0;
}

.right-button {
  right: 0;
}
/* footer */
.footer{
  background-color: #dddddd69;
}
/* .footer .logo a{
  background-color: red;
}
.footer .media{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
} */
.footer .logo a{
  color: black;
  font-size: 45px;
  font-weight: 600;
  text-decoration: none;

}
.footer .logo span{
  color: hsl(5, 100%, 69%);
  font-size: 45px;
}
.footer .head ul li a{
  text-decoration: none;
  color: inherit;
}
.footer .head ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .head.text-md-left {
    text-align: center;
  }

  .logo,
  .media {
    text-align: center;
  }
}
.footer .head ul li{
  /* padding: 10px; */
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  background-color: #DDD;
  list-style: none;
  transition: .3s;
}
.footer .head ul li:hover{
  background-color: hsl(5, 100%, 69%);
  color: white;
}
.footer .head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #b9b3b3;
}
.footer .media{
  display: flex;
  justify-content: end;
}

.footer .body h3{
  position: relative;
}
.footer .body h3::before{
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width:20%;
  height: 3px;
  background-color: hsl(5, 100%, 69%);
}
.footer .body ul{
  list-style: none;
  margin: 40px 0;
  color: rgba(0, 0, 0, 0.677);

}
.footer .body .info{
  margin: 40px 0;
  color: rgba(0, 0, 0, 0.677);

}
.footer .body ul li a{
  color: inherit;
  text-decoration: none;
}

.footer .body .colum{
  padding: 0 10px;

}
.footer .body .colum ul li{
  margin-bottom: 10px;
}
.footer .body .colum:nth-child(1) ul li i{
  color: hsl(5, 100%, 69%);
  margin-right: 5px;
}
.footer .body .colum:nth-child(2) ul li span{
  /* color: hsl(5, 100%, 69%); */
  margin-right: 10px;
}
.footer .body .colum:nth-child(3) ul li span{
  color: black;
  margin-right: 30px;
}
.footer .body .colum:nth-child(4) form{
  margin-top: 30px;
  display: flex;
}
.footer .body .colum:nth-child(4) input{
  padding: 12px;
  outline: none;
  border: navajowhite;
  background-color: white;
  margin-right: 0;
  width: 100%;
}

.footer .body .colum:nth-child(4) form input:focus{
  border: 1px solid black transparent black black;
}
.footer .body .colum:nth-child(4) form .button{
  padding: 12px;
  border: none;
  background-color: hsl(5, 100%, 69%);
  color: white;
  margin-left: 0;
}
.tail{
  background-color: hsl(217, 28%, 9%);
  padding: 20px 0;
  color: white;

}
.tail p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.tail span{
  color: hsl(5, 100%, 69%);
  margin: 0 5px;
}
#go-up{
  position: fixed;
  bottom: 45px;
  right: 25px;
  /* padding: 10px; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: hsl(5, 100%, 69%);
  font-weight: 700;
  border: 5px solid white;
}
#go-up:focus{
  outline: none;
}
.hide-btn{
  display: none;
}
/* media query*/
/* Target mobile phones */
@media only screen and (max-width: 480px) {
  .header .links ,
.header .icons {
  display: none;
}
  .header  .menu{
    display: inline-block;
  }
  .my-container{
    width: 100%;
    padding: 0 50px;
  }
}

/* Target tablets and laptops */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .header .links ,
  .header .icons {
    display: none;
  }
  .header  .menu{
    display: inline-block;
  }
  .my-container{
    width: 100%;
    padding: 0 90px;
  }
}


/*  */
